<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ranking</title>

    <link rel="stylesheet" type="text/css" href="../css/styles.css?v=2">
    <link rel="stylesheet" type="text/css" href="../css/portofolio.css">

</head>
<body>
    <div class="full">
        <h1 id="rankingtime">Ranking at</h1>
        <table id="rankingTable" class="table1">
            <thead>
                <tr>
                    <th scope="col" >Rank</th>
                    <th scope="col" >Username</th>
                    <th scope="col" >Estimated Amount(RON)</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <br>
    </div>
</body>

<script src="../js/ranking.js?v=2"></script>
</html>